/**************************************************************/
/****************** CUSTOM PAGE STYLING ***********************/
/***************** by fiveonenine design **********************/
/**************************************************************/


/**************************************************************/
/******************* GENERAL PAGE STYLING *********************/
/**************************************************************

General page styling goes here. 

DELETE STYLING ON THIS PAGE BEFORE STARTING YOUR OWN WEBSITE.
INCLUDED STYLING IS JUST FOR DEMO PAGE!

*/

#logo_container {
float: left;
width: 154px;
margin-top: 3px;
}

body {
	font-family: arial, sans-serif;
	background: #f1f1f1;
}

#banner  {
	background-image: url('../images/banner2.png');
	background-repeat: repeat-x;
	height: 61px;
}

#middle{
	background: #fff;
	box-shadow: 0px 0px 6px #888;
}

h1{
	margin-left: 30px;
	color: #333;
	background-color: #CCC;
}

ul{
	list-style: none;
}

li:nth-child(n+3){
	font-size: 1em;
}

p {
	color: #fff;
	font-size: 1.5em;
	margin-top: 12px;
	margin-left: 50px;
}

#sub{
	color: #fff;
	font-size: 1em;
	margin-left: 52px;
	margin-top: -2px;
}

#first{
	padding-top: 25px;
	padding-bottom: 15px;
	background-color: #CCC;
	box-shadow: 0px 0px 6px #000;
}

.column60{
	width: 58%;
}

.column-box{
	margin: 0;
}

.row{
	margin-bottom: 50px;
}

.vid{
	margin-left: 15px;
}

.info{
	color: #666;
	margin: 0 30px 0 25px;
}

.name{
	font-size: 2em;
	font-weight: bold;
	border-bottom: dotted #999 1px;
}

/* FOOTER */

#footer_area {
	margin-top:-30px;
	padding-top:30px;
	background:#0f2b5b;
	border-top:1px solid #FFF;
	z-index:4;
}
	
#footer .content {
	position:relative;
	height:auto;
	padding: 20px 0 10px 0;
	clear: both;
	margin: 0 auto;
	font-size: 11px;
	background-color: transparent; 
	color: #0f2b5b;
	}

#footer .widget {
	 width:auto;
	 margin: 0;
	 padding: 0;
	 float: left;
	 color: #FFF;
	 border:0;
	}

#footer .widget .w-header {
	margin: 0 0 10px 0;
	font-size: 1.4em;
	margin:0;
	border: 0;
	color: #828282;
	background:none; 
	}

#footer .widget .w-content {
	position:relative;
	width: auto;
	background:none;
	padding:10px 0;
	margin:0;
	}

#footer .widget-site-identity { 
	font-size: 12px;
	text-align: left;
	margin:0 40px 0 0;
	padding:0 40px 10px 40px;
	border-right:1px dotted #FFF;
	}

#footer .widget-site-identity .logo {
	position:relative;
	text-align:center;
	margin:-10px auto 10px auto;
	padding:0;
}

#footer .widget-site-identity .name {
	position:relative;
	text-align:center;
	font-size:1.4em;
	line-height:1.3em;
	margin:auto;
	padding:0;
}

#footer .widget-site-identity .info {
	position:relative;
	text-align:center;
	font-size:1em;
	line-height:1em;
	margin:auto;
	padding:0;
}

#footer .widget-site-identity .info li {
	line-height:1.2em;
}

#footer .widget-site-identity .info li.phone, #footer .widget-site-identity .info li.fax {
	float:left;
	padding:0 5px 0 5px;
}

#footer .widget-site-identity .info li.email {
	clear:both;
}

#footer .widget-site-identity .info li span {
	padding:0 5px 0 0;
	font-weight: 700;
}

#footer .widget-site-identity .info li a {
	color:#ccc;
}

#footer .widget-site-identity .info li a:hover {
	color:#fff;
}

#footer .widget-site-links { 
	font-size: 12px;
	text-align: left;
	width:127px !important;
	margin-right:15px;
	float:left;
	}

#footer .widget-site-links ul {
	list-style: none;
	margin:0;
	padding:0;
	}

#footer .widget-site-links li {
	margin:0;
	}

#footer .widget-site-links li a:link, #footer .widget-site-links li a:visited  {
	display: block;
	color: #FFF;
	text-decoration: none;
	}

#footer .widget-site-links li a:hover  {
	color: #CCC;
	text-decoration: none;
	}

#footer .widget form p {
	clear: left;
	margin: 0;
	padding: 0;
	padding-top: 5px;
	}

#footer div.alpha {
	}
	
#footer div.omega {
	width:auto
	}

#footer .widget-site-identity .logo img {
    display: none;
}

#footer .widget-site-identity .logo {
    background: url('../images/logo_windermere_light.png') no-repeat scroll 0 0 transparent;
    height: 60px;
    margin: -10px auto 10px 15px;
    padding: 0;
    position: relative;
    text-align: center;
}

/**************************************************************/
/**************************************************************/
/**************************************************************/


/**************************************************************/
/***************** ADDITIONAL PAGE STYLING ********************/
/**************************************************************

Additional page styling goes here.

*/





/**************************************************************/
/**************************************************************/
/**************************************************************/



/**************************************************************/
/******************* MEDIAQUERY RESPONSIVE ********************/
/**************************************************************

Custom Attributes if required for each device layout.

*/


@media (min-width: 768px) and (max-width: 979px) {

}
@media (min-width: 480px) and (max-width: 767px) {

}
@media (min-width: 0px) and (max-width: 479px) {

}


/**************************************************************/
/**************************************************************/
/**************************************************************/