/**************************************************************/
/****************** CUSTOM PAGE STYLING ***********************/
/***************** by fiveonenine design **********************/
/**************************************************************/


/**************************************************************/
/******************* GENERAL PAGE STYLING *********************/
/**************************************************************

General page styling goes here. 

DELETE STYLING ON THIS PAGE BEFORE STARTING YOUR OWN WEBSITE.
INCLUDED STYLING IS JUST FOR DEMO PAGE!

*/

#logo_container {
float: left;
width: 154px;
margin-top: 3px;
}

body {
	font-family: arial, sans-serif;
	background: #f1f1f1;
}

#banner  {
	background-image: url('../images/banner2.png');
	background-repeat: repeat-x;
	height: 61px;
}

#middle{
	background: #fff;
	box-shadow: 0px 0px 6px #888;
}

h1{
	margin-left: 343px;
}

p {
	color: #fff;
	font-size: 1.7em;
	margin-top: 16px;
	margin-left: 50px;
}

#first{
	padding-top: 25px;
}

.column60{
	width: 58%;
}

.column-box{
	margin: 0;
}

.row{
	margin-bottom: 50px;
}

.vid{
	margin-left: 15px;
}


/**************************************************************/
/**************************************************************/
/**************************************************************/


/**************************************************************/
/***************** ADDITIONAL PAGE STYLING ********************/
/**************************************************************

Additional page styling goes here.

*/





/**************************************************************/
/**************************************************************/
/**************************************************************/



/**************************************************************/
/******************* MEDIAQUERY RESPONSIVE ********************/
/**************************************************************

Custom Attributes if required for each device layout.

*/


@media (min-width: 768px) and (max-width: 979px) {

}
@media (min-width: 480px) and (max-width: 767px) {

}
@media (min-width: 0px) and (max-width: 479px) {

}


/**************************************************************/
/**************************************************************/
/**************************************************************/